/*	Normalization + Basic Colour */

* {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	font-style: normal;
}

*, html, body{
	margin: 0;
	padding: 0;
}

body{
	background-color: #1b1f25;
	color: #fafbfc;
	min-height: 2000px;
}

.clear{
	clear: both;
}

/*	Heading */

header{
	background-color: #6a9de6;
	text-align: center;
	position: relative;
}

header h1{
	font-size: 60px;
}

header img.headerSnoo{
	position: relative;
	bottom: -15px;
	height: 80px;
	margin: 0 -7px;
}

nav {
	background: rgba(0,0,0,0.2);
	position: sticky;
	top: 0;
}
nav ul {
	margin: 0 auto;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	max-width: 800px;
	justify-content: center;
}
nav li {
	list-style: none;
}
nav a {
	color: #FFF;
	text-decoration: none;
	display: block;
	padding: 10px;
}
nav a:hover {
	text-decoration: underline;
}

/*		SubHeaders */

.subHeading {
	color: #E7A924;
	margin: 0;
	padding-top: 30px;
	text-align: center;
	font-size: 36px;
	font-weight: 200;
}

.blurb {
	max-width: 700px;
	text-align: justify;
	margin: 20px auto 30px;
	line-height: 1.5em;
}
.blurb b {
	font-weight: 700;
}

.catHeading {
	background: linear-gradient(to right, transparent, #7A5F24, transparent);
	padding: 5px;
	font-size: 32px;
	font-weight: 400;
	text-align: center;
	margin: 60px 0 20px;
}

.rankingContainer .ranking{
	float: left;
	width: calc(50% - 10px);
	position: relative;
}
.rankingContainer .ranking:nth-of-type(2n) {
	margin-left: 20px;
}

/*	Main Content */

#contentBody{
	width: calc(100% - 40px);
	max-width: 1080px;
	margin: 0px auto;
}

/* Public/jury stuff */
.rankingContainer .groupHeadingContainer{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	text-align: center;
	font-size: 24px;
	width: 33%;
	min-width: 130px;
}
.rankingContainer .groupHeadingContainer span {
	display: block;
	padding: 8px 0 8px 10px;
	font-weight: 400;
}
.rankingContainer .groupHeadingContainer span:after {
	content: "";
	z-index:1;
	position: absolute;
	top: 0;
	right: -20px;
	border-top: 45px solid;
	border-right: 20px solid transparent;
}
/*		Public Style */
.rankingContainer .groupHeadingContainer .publicHeading{
	background-color: #c5d8f2;
	color: #1b1f25;
}
.rankingContainer .groupHeadingContainer .publicHeading:after{
	border-top-color: #c5d8f2;
}

/*		Jury Style */
.rankingContainer .groupHeadingContainer .juryHeading{
	background-color: #355079;
}
.rankingContainer .groupHeadingContainer .juryHeading:after {
	border-top-color: #355079;
}

.rankingContainer .ranking6 .result{
	position: relative;
	overflow: hidden;
	width: 20%;
	height: 180px;
	background: #000 no-repeat center center;
	background-size: cover;
	float: left;
}

.rankingContainer .ranking10 .result{
	position: relative;
	overflow: hidden;
	width: 20%;
	height: 180px;
	background: #000 no-repeat center center;
	background-size: cover;
	float: left;
}

.rankingContainer .ranking10 .result:nth-of-type(-n+5){
	width: 25%;
}

.rankingContainer .ranking10 .result:nth-of-type(1){
	width: 100%;
}

.rankingContainer .result .title{
	position: absolute;
	bottom: 0;
	padding: 4px 0;
	width: 100%;
	height: 44px;

	text-align: center;
	font-size: 18px;
	background: rgba( 0, 0, 0, 0.8);
}

.rankingContainer .result .title .showTitle{
	height: 26px;
}

.rankingContainer .result .title .centerTitle{
	position: relative;
    top: 50%;
	transform: translateY(-50%); 
}

.rankingContainer .result .title .centerTitle.smallTitle{
	font-size: 13px;
}

.rankingContainer .result .title .placing{
	font-weight: 400;
	font-size: 12px;
}

.rankingContainer .result .title span.placing::before{
	content: "";
	display: inline-block;
	width: 30px;
	height: 1px;
	background: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,1));
	position: relative;
	bottom: 4px;
	right: 4px;
}

.rankingContainer .result .title span.placing::after{
	content: "";
	display: inline-block;
	width: 30px;
	height: 1px;
	background: linear-gradient(to left, rgba(255,255,255,0), rgba(255,255,255,1));
	position: relative;
	bottom: 4px;
	left: 4px;
}

.rankingContainer .result:nth-of-type(1){
	position: relative;
	overflow: hidden;
	height: 480px;
	
	background: #000 no-repeat center center;
	background-size: cover;
}

.rankingContainer .result:nth-of-type(1) .title{
	position: absolute;
	bottom: 0;
	padding: 8px 0;
	width: 100%;
	height: 60px;

	text-align: center;
	font-size: 32px;
	background: rgba( 0, 0, 0, 0.8);
}

.rankingContainer .result:nth-of-type(1) .title .centerTitle.smallTitle{
	font-size: 32px;
}

.rankingContainer .result:nth-of-type(1) .title .placing{
	font-weight: 400;
	font-size: 24px;
}

.rankingContainer .result:nth-of-type(1) .title span.placing::before{
	content: "";
	display: inline-block;
	width: 100px;
	height: 1px;
	background: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,1));
	position: relative;
	bottom: 8px;
	right: 8px;
}

.rankingContainer .result:nth-of-type(1) .title span.placing::after{
	content: "";
	display: inline-block;
	width: 100px;
	height: 1px;
	background: linear-gradient(to left, rgba(255,255,255,0), rgba(255,255,255,1));
	position: relative;
	bottom: 8px;
	left: 8px;
}

/* Honorable Mentions */
.hmContainer {
	margin-top: 20px;
}

.hmHeadingContainer {
	/*color: #8c6dd1;*/
	text-align: center;
	font-size: 28px;
	font-weight: 400;
}
.hmContainer li{
	list-style: none;
}

.hmContainer ul li{
	text-align: center;
	text-decoration: none;
}

/* Footer */
footer{
	margin-top: 70px;
	background-color: #6a9de6;
	text-align: center;
	position: relative;
	padding: 12px;
}

footer a{
	color: white;
	text-decoration: none;
	font-weight: 400;
}


/* Mobile */
@media screen and (max-width: 600px) {
	.result{
		transition: opacity 0.5s;
	}
	.rankingContainer .result{
		height: 180px;
	}
	.rankingContainer .result:nth-of-type(1) {
		height: 380px;
	}
	
	/* below here are all hacks to make the responsiveness work */
	/* please someone shoot me for this code */
	/* -geo */
	.ranking {
		width: 0;
	}

	/*> *:not(.groupHeadingContainer)*/
	.rankingContainer .ranking .result:nth-of-type(n) {
		width: calc(200% + 20px);
	}
	.rankingContainer .groupHeadingContainer {
		position: relative;
		width: 100%;
		cursor: pointer;
		opacity: 0.5;
	}
	.ranking.rankingJury {
		margin-left: calc(-50% + 10px) !important;
	}
	.ranking.rankingJury .groupHeadingContainer {
		margin-left: calc(100% + 20px);
	}
	.rankingContainer .groupHeadingContainer .juryHeading {
		padding-right: 10px;
		padding-left: 0;
	}
	.ranking.rankingJury .groupHeadingContainer .juryHeading:after {
		right: initial;
		left: -20px;
		border-top: 0;
		border-bottom: 45px solid #8488e6;
		border-left: 20px solid transparent;
		border-right: 0;
	}

	.ranking.rankingJury .result{
		opacity: 0;
	}
	
	.ranking.rankingPublic .groupHeadingContainer {
		opacity: 1;
	}
	
	.rankingContainer .result .title .centerTitle{
		font-size: 22px !important;
	}
	
	.rankingContainer .result .title .placing{
		font-weight: 400;
		font-size: 16px;
	}
}

@media screen and (min-width: 601px){
	.rankingContainer .result:nth-of-type(1){
		width: 100%;
	}
	
	.ranking .groupHeadingContainer {
		opacity: 1 !important;
	}
	
	.ranking .result{
		opacity: 1 !important;
	}
	
	
}
