/* Normalization + Basic Colour */

* {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-style: normal;
}

*, html, body{
	margin: 0;
	padding: 0;
}

body {
	background-color: #1b1f25;
	color: #fafbfc;
	min-height: 100vh;
}

.clear {
	clear: both;
}

/* Page header */
header {
	background-color: #6a9de6;
	text-align: center;
	position: relative;
}
header h1 {
	font-size: 60px;
}
header .header-snoo {
	position: relative;
	bottom: -15px;
	height: 80px;
	margin: 0 -7px;
}

.sections-nav {
	background: #557DB8;
	position: sticky;
	top: 0;
	z-index: 9999;
}
.sections-list {
	margin: 0 auto;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	max-width: 800px;
	justify-content: center;
}
.sections-list-item {
	list-style: none;
}
.sections-list-item-link {
	color: #FFF;
	text-decoration: none;
	display: block;
	padding: 10px;
}
.sections-list-item-link:hover {
	text-decoration: underline;
}

/* Categories */

.section-title {
	color: #E7A924;
	margin: 0;
	padding-top: 30px;
	text-align: center;
	font-size: 50px;
	font-weight: 200;
}
.section-blurb {
	max-width: 40em;
	text-align: justify;
	margin: 20px auto 30px;
	line-height: 1.5em;
}
.section-blurb b {
	font-weight: 800;
}

/* Awards */

.award-title {
	background: linear-gradient(to right, transparent, #7A5F24, transparent);
	padding: 8px;
	font-size: 32px;
	font-weight: 400;
	text-align: center;
	margin: 60px 0 20px;
}

/* .aotyHeading {
	background: linear-gradient(to right, transparent, #7A5F24, transparent);
	padding: 8px;
	font-size: 44px;
	font-weight: 400;
	text-align: center;
	margin: 60px 0 20px;
} */

/* .catHeading a, .aotyHeading a{
	color: white;
	text-decoration: none;
} */

.award-ranking {
	float: left;
	width: calc(50% - 10px);
	position: relative;
}
.award-ranking.jury {
	margin-left: 20px;
}

/* Main Content */

.content {
	width: calc(100% - 40px);
	max-width: 1080px;
	margin: 0px auto;
}

/* Public/jury stuff */
.award-ranking-title {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	padding: 8px 0 8px 10px;
	text-align: center;
	font-size: 24px;
	width: 33%;
	min-width: 130px;
	font-weight: 400;
}
.award-ranking-title::after {
	content: "";
	z-index: 1;
	position: absolute;
	top: 0;
	right: -20px;
	border-top: 45px solid;
	border-right: 20px solid transparent;
}
.public .award-ranking-title {
	background-color: #c5d8f2;
	color: #1b1f25;
}
.public .award-ranking-title::after {
	border-top-color: #c5d8f2;
}
.jury .award-ranking-title {
	background-color: #355079;
}
.jury .award-ranking-title::after {
	border-top-color: #355079;
}

.result {
	position: relative;
	overflow: hidden;
	width: 25%;
	height: 180px;
	background: #000 no-repeat center center;
	background-size: cover;
	float: left;
}
.result-caption {
	position: absolute;
	bottom: 0;
	padding: 4px 0;
	width: 100%;
	height: 44px;

	text-align: center;
	font-size: 12px;
	background: rgba( 0, 0, 0, 0.8);
}
.result-title {
	height: 26px;
	display: block;
}
.result-rank {
	font-weight: 400;
	font-size: 12px;
	display: block;
}
.result-rank::before {
	content: "";
	display: inline-block;
	width: 30px;
	height: 1px;
	background: linear-gradient(to right, transparent, #FFF);
	position: relative;
	bottom: 4px;
	right: 4px;
}
.result-rank::after{
	content: "";
	display: inline-block;
	width: 30px;
	height: 1px;
	background: linear-gradient(to left, transparent, #FFF);
	position: relative;
	bottom: 4px;
	left: 4px;
}

.result:nth-last-of-type(-n+5) {
	width: 20%;
	height: 144px;
}
.result:nth-of-type(1) {
	width: 100%;
	height: 450px;
}
.result:nth-of-type(1) .result-caption {
	height: 80px;
	line-height: 40px;
}
.result:nth-of-type(1) .result-title {
	font-size: 32px;
	line-height: 40px;
}
.result:nth-of-type(1) .result-rank {
	font-weight: 400;
	font-size: 24px;
}
.result:nth-of-type(1) .result-rank::before{
	content: "";
	display: inline-block;
	width: 100px;
	height: 1px;
	background: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,1));
	position: relative;
	bottom: 8px;
	right: 8px;
}
.result:nth-of-type(1) .result-rank::after{
	content: "";
	display: inline-block;
	width: 100px;
	height: 1px;
	background: linear-gradient(to left, rgba(255,255,255,0), rgba(255,255,255,1));
	position: relative;
	bottom: 8px;
	left: 8px;
}

/* Honorable Mentions */
.award-hms {
	margin-top: 20px;
}

.award-hms-title {
	/*color: #8c6dd1;*/
	text-align: center;
	font-size: 28px;
	font-weight: 400;
}
.award-hms-list-item {
	text-align: center;
	text-decoration: none;
}

/* Footer */
footer {
	margin-top: 70px;
	background-color: #6a9de6;
	text-align: center;
	position: relative;
	padding: 12px;
}

footer a {
	color: white;
	text-decoration: none;
	font-weight: 400;
}


/* Mobile */
@media screen and (max-width: 600px) {
	.result{
		transition: opacity 0.5s;
		height: 180px;
	}
	.rankingContainer .result:nth-of-type(1) {
		height: 380px;
	}

	/* below here are all hacks to make the responsiveness work */
	/* please someone shoot me for this code */
	/* -geo */
	.ranking {
		width: 0;
	}

	/*> *:not(.groupHeadingContainer)*/
	.rankingContainer .ranking .result:nth-of-type(n) {
		width: calc(200% + 20px);
	}
	.rankingContainer .groupHeadingContainer {
		position: relative;
		width: 100%;
		cursor: pointer;
		opacity: 0.5;
	}
	.ranking.rankingJury {
		margin-left: calc(-50% + 10px) !important;
	}
	.ranking.rankingJury .groupHeadingContainer {
		margin-left: calc(100% + 20px);
	}
	.rankingContainer .groupHeadingContainer .juryHeading {
		padding-right: 10px;
		padding-left: 0;
	}
	.ranking.rankingJury .groupHeadingContainer .juryHeading:after {
		right: initial;
		left: -20px;
		border-top: 0;
		border-bottom: 45px solid #355079;
		border-left: 20px solid transparent;
		border-right: 0;
	}

	.ranking.rankingJury .result{
		opacity: 0;
	}

	.ranking.rankingPublic .groupHeadingContainer {
		opacity: 1;
	}

	.rankingContainer .result .title .centerTitle{
		font-size: 22px !important;
	}

	.rankingContainer .result .title .placing{
		font-weight: 400;
		font-size: 16px;
	}
}

@media screen and (min-width: 601px){
	.rankingContainer .result:nth-of-type(1){
		width: 100%;
	}

	.ranking .groupHeadingContainer {
		opacity: 1 !important;
	}

	.ranking .result{
		opacity: 1 !important;
	}
}
